html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  width: 100%;
  min-height: 100vh;
  background: #f8fafc;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

.panier {
  position: relative;
}
.panier .panier_counter {
  position: absolute;
  top: -12px;
  left: 20px;
}

.homme_menu_item {
  transition: 1s visibility ease-in-out;
}
.homme_menu_item .homme_div {
  visibility: hidden;
}
.homme_menu_item:hover .homme_div {
  visibility: visible;
}

.femme_menu_item {
  transition: 1s visibility ease-in-out;
}
.femme_menu_item .femme_div {
  visibility: hidden;
}
.femme_menu_item:hover .femme_div {
  visibility: visible;
}

.homme_div {
  position: absolute;
  top: 40px;
  left: -10px;
  min-width: 50vw;
  padding: 1rem;
  color: #333;
}

.femme_div {
  position: absolute;
  top: 40px;
  left: -10px;
  min-width: 50vw;
  padding: 1rem;
  color: #333;
}

#lang-switcher {
  z-index: 9999;
}
#lang-switcher .lang_box {
  height: 30px;
  width: 30px;
  background-color: transparent;
  background-size: 30px 30px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#lang-switcher .lang_box_fr {
  background-image: url("/../img/flag/fr.png");
}
#lang-switcher .lang_box_ar {
  background-image: url("/../img/flag/ar.png");
}
#lang-switcher .lang_box_uk {
  background-image: url("/../img/flag/uk.png");
}
#lang-switcher ul {
  min-width: 9rem !important;
}
#lang-switcher ul li a {
  color: #272b2b;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#lang-switcher ul li a span {
  margin-left: 1rem;
  font-size: 0.9rem;
}
#lang-switcher ul li a .arabic {
  font-size: 1.2rem;
}

#drawer {
  position: absolute;
  top: 0;
  left: -333px;
  background: #fff;
  border-right: solid 1.5px rgba(50, 50, 50, 0.9);
  min-height: 100vh;
  min-width: 17.5%;
  z-index: 9999;
  padding: 2rem;
}
@media (max-width: 600px) {
  #drawer {
    min-width: 100%;
  }
}
#drawer .close_drawer {
  float: right;
}
#drawer a {
  padding: 0;
  border: none !important;
  text-decoration: none;
  outline: none !important;
}
#drawer .btn:focus {
  box-shadow: none;
  outline: none !important;
}
#drawer a:focus {
  outline: none !important;
  border: none !important;
}
#drawer a:hover {
  color: #007BCF;
  border: none !important;
}

.btn-toggle[aria-expanded=true] .fa-chevron-right {
  transform: rotate(90deg);
}

.wrapper {
  position: relative;
  /*   width:1305px; */
  height: 400px;
  margin: auto;
  background: #eee;
  overflow: hidden;
}

.boxes {
  position: relative;
  left: -645px;
}

.box {
  position: absolute;
  width: 19rem;
  top: 15px;
  cursor: pointer;
  will-change: transform;
}

.promo_rate {
  position: absolute;
  width: 90%;
  margin: auto;
  top: 15px;
  left: 15px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 55%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 6px;
  transform: scaleY(0);
}
.overlay .details {
  background-color: #007BCF;
  color: white;
  transition: 0.5s background-color;
}
.overlay .details:hover {
  background-color: #006cb6;
}
