.wrapper {
    position: relative;
    /*   width:1305px; */
    height: 500px;
    margin: auto;
    background: #eee;
    overflow: hidden;
}

.boxes {
    position: relative;
    left: -645px;
}

.box {
    position: absolute;
    width: 19rem;
    top: 15px;
    cursor: pointer;
}
